Options All -Indexes
RewriteEngine on

# Rutas amigables
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]

# ensure https
RewriteCond %{HTTP_HOST} ^alquiler.jgodrive.com [NC]
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

# Credenciales
<IfModule mod_headers.c>
  Header set Access-Control-Allow-Origin "*"
</IfModule>